<h1>トップページ</h1>
<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
         こんにちは、 
         <%= link_to " #{current_user.name} さん", root_path, class: :greeting__link%>
        <div>
          <%= link_to "アルバムページへ", albums_path, class: :nav__btn %>
          <%= link_to "アイテムページへ", items_path, class: :nav__btn %>
        </div>
      </div>
    <% end %>
  </div>
</main>