
<h1>アルバム編集</h1>
<main class="main">
  <div class="inner">
    <%= link_to "キャンセル", album_path(@album.id), class: :nav__btn %>
    <%= form_with(model: @album, method: :patch, local: true) do |f| %>
    <%= f.text_field :title, class: 'album_name album-form__input', placeholder: 'アルバム名を入力してください', value: @album.title %>
    <%= f.submit "変更する" ,class: :nav__btn %>
    <% end %>
  </div>
</div>
</main>