<main class="main">
  <div class="inner">
    <%= link_to ">トップページへ戻る", root_path%>
    <div>
      <h1>アルバム一覧</h1>
    </div>
    <%= link_to "アルバム新規作成", new_album_path, class: :nav__btn %>
    <div class="background">
      <% if @albums == [] %>
      アルバムがありません
      <% else %>
        <% @albums.each do |album| %>
          <%= link_to album_path(album.id) do %>
            <div class="card">
              <%= album.title %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>