<main class="main">
  <div class="inner">
    <%= link_to ">トップページへ戻る", root_path%>
    <h1>アイテム一覧</h1>
    <%= link_to "アイテム新規作成", new_item_path, class: :nav__btn %>
    <div class="background">
      <% if @items == [] %>
      アイテムがありません
      <% else %>
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), method: :get do %>
            <div class="card">
              <%= item.title%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>